/* 6. Working Experience */
#experience {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 750px;
}

#background-pattern-2 {
    position: absolute;
    z-index: -99999;
    right: 0;
    top: -70px;
    height: 150px;
    width: 100%;
}

#mobile-header {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0 0 5% 0;
}

#experience-image {
    position: relative;
    width: 100%;
    height: 80%;
}

.experience-image-frame {
    position: absolute;
    background-size: 100% 100%;
    width: 70%;
    height: 100%;
    top: 0;
    border-radius: 40px;
    z-index: 0;
    opacity: 0.5;
    cursor: pointer;
}

.experience-image-frame-hover {
    animation: mouseOverImage 2s;
    z-index: 2 !important;
    opacity: 1 !important;
}

@keyframes mouseOverImage {
    from {
        z-index: 0;
        opacity: 0.5;
    }
    to {
        z-index: 2;
        opacity: 1;
    }
}

.experience-image-frame-mouseout {
    animation: mouseoutImage 2s;
    z-index: 0 !important;
    opacity: 0.5 !important;
}

@keyframes mouseoutImage {
    from {
        z-index: 2;
        opacity: 1;
    }
    to {
        z-index: 0;
        opacity: 0.5;
    }
}

#experience-image-frame-1 {
    background-image: url("../images/experience/IJS.png");
    left: 0;
    border: 5px solid #ffffff;
}

#experience-image-frame-2 {
    background-image: url("../images/experience/DSB.png");
    right: 0;
    border: 5px solid #354449;
}

.experience-active {
    z-index: 1;
    opacity: 1;
    cursor: default;
}

#experience-description {
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

#experience-details {
    display: none;
}

#experience-description h2 {
    display: none;
}

#experience-description h3 {
    font-size: 1.25em;
    color: var(--sub-color-2);
}

#experience-description p {
    font-size: 1em;
    margin-top: 0px;
}

.animate-experience-text {
    animation: animateText 3s;
}

@keyframes animateText {
    from {opacity: 0}
    to {opacity: 1}
}

#btn-resume {
    font-weight: 700;
    font-size: 0.75em;
    color: var(--sub-color-3);
    background: var(--main-color-2);
    border: 3px solid var(--sub-color-3);
    border-radius: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}


@media only screen and (min-width: 480px){

    #background-pattern-2 {
        top: -100px;
        height: 200px
    }

    #experience-image {
        width: 400px;
    }

    .experience-image-frame {
        width: 300px;
    }
    
    #experience-image-frame-1 {
        left: 0;
    }
    
    #experience-image-frame-2 {
        left:auto;
        right: 0;
    }

    #experience-description h3 {
        font-size: 1.75em;
    }
    
    #experience-description p {
        font-size: 1.25em;
    }
    
    #btn-resume {
        font-size: 1em;
    }
}


@media only screen and (min-width: 980px){
    
    #background-pattern-2 {
        width: 100% !important;
        max-width: 100% !important;
        top: -50px;
        height: 180px;
    }

    #mobile-header {
        display: none;
    }

    #experience {
        flex-flow: row nowrap;
        gap: 5%;
    }

    #experience > * {
        width: 50%;
        max-width: 50%;
    }

    #experience-image {
        width: 400px;
    }

    .experience-image-frame {
        width: 300px;
    }

    #experience-description {
        display: flex;
        flex-flow: column nowrap;
        justify-content: left;
        align-items: flex-start;
    }

    #experience-description > * {
        text-align: left;;
    }

    #experience-details {
        display: block;
        font-size: 1em;
        margin-bottom: 25px;
    }

    #experience-details > * {
        margin: 0;
    }

    #experience-description h2 {
        display: block;
        margin-bottom: 25px;
    }
}