@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Roboto+Slab:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

/*  Global Variable */
:root {
    --main-color-1: #FD9D00;
    --main-color-2: white;
    --sub-color-1: #FFB337;
    --sub-color-2: #FDE3A7;
    --sub-color-3: #D18100;
    --background-color-1: #06171D;
    --background-color-2: #012531;
    --background-color-3: rgba(0, 0, 0, 0.6);
    --background-color-4: #015352;
    --text-headings: 'Roboto Slab', serif;
    --text-content: 'Roboto', serif;
    --window-height: 700px;
    --header-height: 30px;
}

/* General */
html {
    box-sizing: border-box;
    font-family: var(--text-content);
    font: 500 1em 'Poppins';
    background-color: var(--background-color-1);
    color: var(--main-color-2);
    margin: 0;
    padding: 0;
}

#root {
  width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#root-wrapper {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: var(--text-headings);
    color: var(--main-color-1);
}

h2 {
    font-size: 1.5em;
    filter: drop-shadow(0px 3px 4px rgba(208, 203, 161, 0.45));
}

section {
    margin-bottom: 25px;
}

#about, #experience, #projects, #contacts {
    padding-top: var(--header-height);
}

main {
  position: relative;
  top: var(--header-height);
}

@media only screen and (min-width: 480px){
    :root {
        --window-height: 769px;
        --header-height: 40px;
    }

    h2 {
        font-size: 2em;
    }

}

@media only screen and (min-width: 980px){
    
    :root {
        --window-height: 800px;
        --header-height: 50px;
    }

    h2 {
        font-size: 4em;
    }

}